body {
    margin: 0px;
    background: url(../img/bg.jpg);
}

.logo_b {
    float: left;
    width: 155px;
    height: 75px;
    margin-left: 45px;
}

.header {
    width: auto;
    height: auto;
}

.header_menu {
    width: 600px;
    height: 75px;
    margin-left: 22%;
}

.main_left ul {
    list-style-type: none;
    margin-top: 15px;
    /*   margin-left: 5px;*/
    padding: 4px;
}

ul.menu_list li {
    /*    display: inline;*/
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 7px;
    background-color: #F0FFFF;
    font-size: 25px;
    /*font-family: Comic Sans MS;*/
    /*    font-family: impact;*/
    text-align: center;
}

ul.menu_list li:hover {
    background-color: lightgrey;
}

ul.menu_list a {
    text-decoration: none;
    color: black;
}

ul.menu_list a:active {
    color: white;
}

.futter {
    width: auto;
    height: 50px;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.main {
    width: auto;
    height: 814px;
}

.main_left {
    width: 12%;
    height: 60%;
    float: left;
    background: url(../img/form-bg.png);
}

.main_center {
    width: 88%;
    height: 100%;
    float: right;
    background-color: #999999;
}

.progress {
    width: 30%;
    height: 75px;
    background-color: black;
    margin-right: 50%;
    float: right;
    background: url(../img/form-bg.png);
    border-radius: 10px;
}

.all_money {
    margin-left: 7px;
    /*    border: 1px solid white;*/
    padding-right: 25px;
    display: inline-block;
}

.all_progress {
    /*    border: 1px solid white;*/
    display: inline-block;
}

.show_events {
    /*    border: 1px solid white;*/
    display: inline-block;
    height: 75px;
    vertical-align: middle;
}
.payment_forms input[type="text"] {
    margin-left: 30px;
}
.electricity,
.heating,
.water{
    margin-left: 25px;
    margin-top: 20px;
}
